.App {
  text-align: center;
}

body {}

/**
 * Profile header
 */

.header {
  display: flex;
  flex-direction: row;
}

.navbar img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 3px solid #D61111;
}

.navbar {
  display: flex;
  flex-direction: flex-start;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 3rem;
  background: #01161E;
}

.navbar li {
  list-style: none;
  color: white;
  font-size: 30px;
}

/**
 * search by city
 */